[submodule "SolarGatorsBSP_STM"]
	path = SolarGatorsBSP_STM
	url = https://github.com/Solar-Gators/SolarGatorsBSP_STM
[submodule "Drivers/SolarGatorsBSP_STM"]
	path = Drivers/SolarGatorsBSP_STM
	url = https://github.com/Solar-Gators/SolarGatorsBSP_STM
